version: "3.9"
services:
  web:
    build: .
    command: django_app
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
    expose:
      - "8000"
    depends_on:
      - nginx
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf
        - static_volume:/app/staticfiles
volumes:
  static_volume: