name: Django CI/CD Pipeline
on:
  push:
    branches: [ "main" ]
    # pull_request:
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
      - name: Lint with flake8
        run: |
          flake8 .
      - name: Run tests
        env:
           SECRET_KEY: 'django-insecure-fw&1%kq7bd**5&w(&eo8lg$a6^i0%tmvlz+_)36w6*g_aogz*y'
           DEBUG: 'True'
        run: |
          python manage.py test
      - name: Build Docker image
        run: |
          docker build -t django-devops .